.white-background {
  background-color: white;
}

.caregiver-image {
  object-fit: cover;
  height: 250px;
  width: 300px;
}

.status-icon {
  object-fit: cover;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 2px;
}

.center-text-frame {
  position: relative;
  display: table;
  width: 300px;
  height: 50px;
}

.text-cell {
  position: absolute;
  top: 0;
  height: 100%;
  width: 250px;
  left: 60px;
}

.standard-text {
  font-weight: bold;
  font-size: 18px;
  color: #757575;
  line-height: 50px;
}
