<div class="caregiver-frame white-background" *ngIf="layouthandler.layout.widgetbar.caregiverStatus.caregiver">
  <div class="caregiver-image" >
    <img  class="caregiver-image" [src]="globals.hostName + layouthandler.layout.widgetbar.caregiverStatus.caregiver.picture" alt="">
  </div>
  <div class="center-text-frame" *ngIf="layouthandler.currentStatus">
    <img class="status-icon" [src]="layouthandler.currentStatus.icon" alt="">
    <div class="text-cell standard-text">{{ layouthandler.currentStatus.description }}</div>
  </div>
</div>
