<div class="activity-wrapper">
  <div class="images-blocks">
    <div class="image-frame">
      <img class="activity-image" [src]="activityhandler.getActivityImage(activity)" alt="">
    </div>
    <div class="weather-frame">
      <img class="weather-image" [src]="globals.hostName + activity.weather.icon" [alt]="">
      <p class="weather-text">{{ activity.weather.description }}</p>
    </div>
  </div>
  <div>
    <h1 class="activity-title">{{activity.title}}</h1>
    <div class="activity-text" [innerHTML]="activity.description"></div>
  </div>
</div>
