.activity-wrapper {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

.images-blocks {
  vertical-align: middle;
  height: 466px;
}

h1 {
  margin: 0 44px 20px 44px;
}

p {
  margin: 0 44px 5px 44px;
}

.image-frame {
  display: inline-block;
  width: 600px;
  height: 400px;
  background-color: white;
  margin: 22px 10px 22px 22px;
}

.activity-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.weather-frame {
  margin: 44px 44px 44px 10px;
  display: inline-block;
  width: 300px;
  height: 300px;
}

.weather-image {
  height: 75%;
  width: auto;
}

.weather-text {
  margin: 0;
  height: 25%;
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: #757575;
}

.activity-title {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 22px;
}

.activity-text {
  margin-left: 22px;
  font-size: 35px;
  white-space: pre-line;
  margin-top: 0;
  line-height: 1.6;
}
