.time-widget {
  width: 100%;
  height: 100%;
}
.time-table {
  margin: 0;
  width: 33.3%;
  height: 100%;
  position: absolute;
}

.clock-layout {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.clock-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: 5%;
}

.big-clock-hand, .small-clock-hand {
  stroke-width: 2%;
  stroke: #757575;
}

.date-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 37%;
  margin: auto;
  font-weight: bold;
  font-size: 45px;
  color: #757575;
}

.clickable {
  pointer-events: all;
}

.notclickable {
  pointer-events: none;
}

