<div class="time-widget" (click)="overlayhandler.showOverlay('calendar', null)">
  <div class="time-table">
    <!--The clock layout-->
    <img class="clock-layout clickable" [src]="globals.hostName + layouthandler.getLayoutElement('clockImage')">

    <!--The clock-hands-->
    <svg width="100%" height="100%" style="position: absolute; top: 0">
      <line class="big-clock-hand" x1="50%" y1="50%" x2="50%" y2="10%" [attr.transform]="getBigTransform()"/>
      <line class="small-clock-hand" x1="50%" y1="50%" x2="50%" y2="25%" [attr.transform]="getSmallTransform()"/>
    </svg>

    <!--The center-->
    <img class="clock-center" [src]="globals.hostName + layouthandler.getLayoutElement('clockCenter')">
  </div>
  <div class="date-text">
    <p>Woensdag, <br> 19 maart 2018</p>
  </div>
</div>

