.calendar-wrapper {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}

.calendar-title {
  position: absolute;
  left: 500px;
  top: 30px;
  color: white;
}

.dayStyle {
  position: relative;
  float: left;
  margin-left: 5px;
  top: -10px;
  font-size: 15px;
}

.dateStyle {
  position: relative;
  float: right;
  top: 13px;
  margin-right: 5px;
  color: #394c5f;
  font-size: 47px;
}

#text-logo {
  position: absolute;
  left: 23px;
  top: 13px;
  width: auto;
  height: 100px;
}

.zorgcirkels-header {
  height: 195px;
}

.header-color {
  background-color: #3a4d5f !important;
}

th, td {
  border: 1px solid #bdc0c8;
}

#r3c1, #r12c1 {
  border-top: 1px solid #bdc0c8;
  border-bottom: 1px solid #bdc0c8;
}

.weekoverview-table {
  position: absolute;
  top: 113px;
  height: 840px;
  width: 1372px;
  border-collapse: collapse;
}

.col1 {
  border: none;
  padding-left: 27px;
}

#r3c2, #r3c3, #r3c4, #r3c5, #r3c6, #r3c7, #r3c8 {
  border-bottom: 2px solid #b1b4bb;
}

#r12c2, #r12c3, #r12c4, #r12c5, #r12c6, #r12c7, #r12c8 {
  border-top: 2px solid #b1b4bb;
}

#row2, #row4, #row5, #row6, #row7, #row8, #row9, #row10, #row11 {
  height: 74px;
  background-color: #ffffff;
}

#row12 {
  background-color: #ccd7db;
}

#row1 {
  height: 85px;
  background-color: #3a4d5f;
}

.col1, #row1 {
  background-color: #e6e6e7;
}

.col1 {
  width: 134px;
}

.col2, .col5, .col6 {
  width: 217px;
}

.col3, .col4, .col7, .col8 {
  width: 145px;
}

div.hourSquare {
  width: 85px;
  height: 25px;
  background-color: #3a4d5f;
  position: relative;
  top: 35px;
  left: 20px;
}

div.hourSquare p {
  margin: 0;
  padding:0;
  position:absolute;
  right: 7px;
  bottom: 7px;
  font-size: 12px;
  color: white;
}

div.hourSquare svg {
  stroke: #bbc0c5;
  stroke-width:2;
  margin-top: 13px;
  margin-left: 85px;
}

div.openclosed {
  border-radius: 14px;
  margin-left: 20px;
  margin-right: 20px;
  height: 27px;
  line-height: 27px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

div.activities {
  position: absolute;
  z-index: 1;
}

div.activities p {
  margin: 4px;
  font-size: 14px;
  color: #3a3524;
  overflow-wrap: break-word;
  hyphens: auto;
}

.now-arrow {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #f2c42f;
  z-index: 1;
  width: 30px;
  height: 70px;
  position: absolute;
  top: 100px;
  border: 1px solid black;
}

.now-arrow:after {
  background-color: #f2c42f;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  position: absolute;
  top: 60px;
  transform: rotate(-45deg);
}

.now-line {
  height: 2px;
  background-color: red;
  position: absolute;
  z-index: 1;
}
