<div class="calendar-wrapper" [ngStyle]="{display: 'block'}">
  <div class="zorgcirkels-header header-color">
    <img id="text-logo" [src]="globals.hostName + layouthandler.getLayoutElement('text_logo')">
    <h1 class="calendar-title">{{ languagehandler.getTerm('calendar') | uppercase }}: <span style="color: #f2c42f">{{ languagehandler.getTerm(languagehandler.getMonthCode()) | uppercase }} {{ getYear() }}</span></h1>
  </div>
  <table class="weekoverview-table">
    <tr id="row1">
      <th class="col1 header-color" id="r1c1"></th>
      <th class="col2">
        <span class="dayStyle">{{ languagehandler.getTerm('moShort') | uppercase }}</span>
        <span class="dateStyle">{{ timehandler.weekDays[0].getDate() }}</span>
      </th>
      <th class="col3">
        <span class="dayStyle">{{ languagehandler.getTerm('tuShort') | uppercase }}</span>
        <span class="dateStyle">{{ timehandler.weekDays[1].getDate() }}</span>
      </th>
      <th class="col4">
        <span class="dayStyle">{{ languagehandler.getTerm('wedShort') | uppercase }}</span>
        <span class="dateStyle">{{ timehandler.weekDays[2].getDate() }}</span>
      </th>
      <th class="col5">
        <span class="dayStyle">{{ languagehandler.getTerm('thShort') | uppercase }}</span>
        <span class="dateStyle">{{ timehandler.weekDays[3].getDate() }}</span>
      </th>
      <th class="col6">
        <span class="dayStyle">{{ languagehandler.getTerm('frShort') | uppercase }}</span>
        <span class="dateStyle">{{ timehandler.weekDays[4].getDate() }}</span>
      </th>
      <th class="col7">
        <span class="dayStyle">{{ languagehandler.getTerm('saShort') | uppercase }}</span>
        <span class="dateStyle">{{ timehandler.weekDays[5].getDate() }}</span>
      </th>
      <th class="col8">
        <span class="dayStyle">{{ languagehandler.getTerm('suShort') | uppercase }}</span>
        <span class="dateStyle">{{ timehandler.weekDays[6].getDate() }}</span>
      </th>
    </tr>
    <tr id="row2">
      <td class="col1">
        <div class="hourSquare">
          <p>9{{ languagehandler.getTerm('hourShort') }}</p>
          <svg>
            <line class="shortLine" x1="0" y1="0" x2="29" y2="0" ></line>
          </svg>
        </div>
      </td>
      <td class="col2">
      </td>
      <td class="col3">
      </td>
      <td class="col4">
      </td>
      <td class="col5">
      </td>
      <td class="col6">
      </td>
      <td class="col7">
      </td>
      <td class="col8">
      </td>
    </tr>
    <tr id="row4">
      <td class="col1">
        <div class="hourSquare">
          <p>10{{ languagehandler.getTerm('hourShort') }}</p>
          <svg>
            <line class="shortLine" x1="0" y1="0" x2="29" y2="0" ></line>
          </svg>
        </div>
      </td>
      <td class="col2"></td>
      <td class="col3"></td>
      <td class="col4"></td>
      <td class="col5"></td>
      <td class="col6"></td>
      <td class="col7"></td>
      <td class="col8"></td>
    </tr>
    <tr id="row5">
      <td class="col1">
        <div class="hourSquare">
          <p>11{{ languagehandler.getTerm('hourShort') }}</p>
          <svg>
            <line class="shortLine" x1="0" y1="0" x2="29" y2="0" ></line>
          </svg>
        </div>
      </td>
      <td class="col2"></td>
      <td class="col3"></td>
      <td class="col4"></td>
      <td class="col5"></td>
      <td class="col6"></td>
      <td class="col7"></td>
      <td class="col8"></td>
    </tr>
    <tr id="row6">
      <td class="col1">
        <div class="hourSquare">
          <p>12{{ languagehandler.getTerm('hourShort') }}</p>
          <svg>
            <line class="shortLine" x1="0" y1="0" x2="29" y2="0" ></line>
          </svg>
        </div>
      </td>
      <td class="col2"></td>
      <td class="col3"></td>
      <td class="col4"></td>
      <td class="col5"></td>
      <td class="col6"></td>
      <td class="col7"></td>
      <td class="col8"></td>
    </tr>
    <tr id="row7">
      <td class="col1">
        <div class="hourSquare">
          <p>1{{ languagehandler.getTerm('hourShort') }}</p>
          <svg>
            <line class="shortLine" x1="0" y1="0" x2="29" y2="0" ></line>
          </svg>
        </div>
      </td>
      <td class="col2"></td>
      <td class="col3"></td>
      <td class="col4"></td>
      <td class="col5"></td>
      <td class="col6"></td>
      <td class="col7"></td>
      <td class="col8"></td>
    </tr>
    <tr id="row8">
      <td class="col1">
        <div class="hourSquare">
          <p>2{{ languagehandler.getTerm('hourShort') }}</p>
          <svg>
            <line class="shortLine" x1="0" y1="0" x2="29" y2="0" ></line>
          </svg>
        </div>
      </td>
      <td class="col2"></td>
      <td class="col3"></td>
      <td class="col4"></td>
      <td class="col5"></td>
      <td class="col6"></td>
      <td class="col7"></td>
      <td class="col8"></td>
    </tr>
    <tr id="row9">
      <td class="col1">
        <div class="hourSquare">
          <p>3{{ languagehandler.getTerm('hourShort') }}</p>
          <svg>
            <line class="shortLine" x1="0" y1="0" x2="29" y2="0" ></line>
          </svg>
        </div>
      </td>
      <td class="col2"></td>
      <td class="col3"></td>
      <td class="col4"></td>
      <td class="col5"></td>
      <td class="col6"></td>
      <td class="col7"></td>
      <td class="col8"></td>
    </tr>
    <tr id="row10">
      <td class="col1">
        <div class="hourSquare">
          <p>4{{ languagehandler.getTerm('hourShort') }}</p>
          <svg>
            <line class="shortLine" x1="0" y1="0" x2="29" y2="0" ></line>
          </svg>
        </div>
      </td>
      <td class="col2"></td>
      <td class="col3"></td>
      <td class="col4"></td>
      <td class="col5"></td>
      <td class="col6"></td>
      <td class="col7"></td>
      <td class="col8"></td>
    </tr>
    <tr id="row11">
      <td class="col1"></td>
      <td class="col2"></td>
      <td class="col3"></td>
      <td class="col4"></td>
      <td class="col5"></td>
      <td class="col6"></td>
      <td class="col7"></td>
      <td class="col8"></td>
    </tr>
    <tr id="row12">
      <td class="col1" id="r12c1">
        <div style="width: 100px">
          {{ languagehandler.getTerm('eveningactivity') | titlecase }}
        </div>
      </td>
      <td class="col2" id="r12c2"></td>
      <td class="col3" id="r12c3"></td>
      <td class="col4" id="r12c4"></td>
      <td class="col5" id="r12c5"></td>
      <td class="col6" id="r12c6"></td>
      <td class="col7" id="r12c7"></td>
      <td class="col8" id="r12c8"></td>
    </tr>
  </table>

  <!--Load activities (overlay table with them)-->
  <div *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]">
      <div *ngFor="let activity of activityhandler.activities[day]">
        <div class="activities" [ngStyle]="{width: getWidth(activity, day), left: getLeft(activity, day), top: getTop(activity), height: getHeight(activity), 'background-color': getBackgroundColor(activity)}">
          <p>{{activityhandler.getTimeStamp(activity)}}</p>
          <p>{{activity.title}}</p>
        </div>
      </div>
  </div>

  <!--Show where we are now-->
  <div class="now-arrow" [ngStyle]="{left: getLeftMarker()}"></div>
  <div class="now-line" [ngStyle]="{left: getLeftNow(), width: getWidthNow(), top: getTopNow()}" [hidden]="hideNowLine()"></div>
</div>
