<div class="calendar-frame" (click)="overlayhandler.showOverlay('calendar', null)" *ngIf="languagehandler.currentDate">
  <!--Previous calendar arrangement-->
  <!--<img class="calendar-icon" [src]="globals.hostName + layouthandler.layout.widgetbar.calendarWidget.calendarIcon" [alt]="">-->
  <!--<div class="date-text-frame">-->
    <!--<div class="center-text-cell">-->
      <!--<p class="date-text" id="day" >{{ languagehandler.currentDate.day }}</p>-->
      <!--<p class="date-text" id="date">{{ languagehandler.currentDate.date }}</p>-->
      <!--<p class="date-text" id="month">{{ languagehandler.currentDate.month }} {{ languagehandler.currentDate.year }}</p>-->
    <!--</div>-->
  <!--</div>-->
  <div class="time-table">
    <!--The clock layout-->
    <img class="clock-layout clickable" [src]="globals.hostName + layouthandler.getLayoutElement('clockImage')">

    <!--The clock-hands-->
    <svg width="100%" height="100%" style="position: absolute; top: 0">
      <line class="big-clock-hand" x1="50%" y1="50%" x2="50%" y2="10%" [attr.transform]="getBigTransform()"/>
      <line class="small-clock-hand" x1="50%" y1="50%" x2="50%" y2="25%" [attr.transform]="getSmallTransform()"/>
    </svg>

    <!--The center-->
    <img class="clock-center" [src]="globals.hostName + layouthandler.getLayoutElement('clockCenter')">
  </div>
  <div class="date-text">
    <p>{{languagehandler.currentDate.day}}, <br> {{languagehandler.currentDate.date}} {{languagehandler.currentDate.month}} {{languagehandler.currentDate.year}}</p>
  </div>
</div>
