.calendar-frame {
  position: absolute;
  height: 100%;
  width: 100%;
}

.drop-shadow-image {
  filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.6));
}

.drop-shadow-image:focus, .drop-shadow-image:active {
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.1));
}

.calendar-icon {
  margin: auto;
  height: 300px;
  width: 300px;
}

.date-text-frame {
  display: table;
  position: absolute;
  top: 89px;
  width: 300px;
  height: 208px;
}

.center-text-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.date-text {
  margin: 5px;
  font-weight: bold;
  font-size: 25px;
  color: #757575;
}

.date-text#day {
  margin-top: 0;
}

.date-text#month {
  margin-bottom: 0;
}

.date-text#date {
  font-size: 80px;
}

.time-widget {
  width: 100%;
  height: 100%;
}

.time-table {
  margin: 0;
  width: 33.3%;
  height: 100%;
  position: absolute;
}

.clock-layout {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.clock-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: 5%;
}

.big-clock-hand, .small-clock-hand {
  stroke-width: 2%;
  stroke: #757575;
}

.date-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 37%;
  margin: auto;
  font-weight: bold;
  font-size: 45px;
  color: #757575;
}


