<!--Preload images from server-->
<img class="preload-image" [src]="globals.hostName + layouthandler.getLayoutElement('arrow')">
<img class="preload-image" [src]="globals.hostName + layouthandler.getLayoutElement('backArrow')">

<!--Vertical line-->
<div class="vertical-line"></div>

<!--Picture widget-->
<div class="widget-frame picture-widget-frame">
  <app-pictures-widget></app-pictures-widget>
</div>

<div class="clock-widget-frame">
  <app-calendar-widget></app-calendar-widget>
</div>

<!--Caregiver Widget-->
<div class="widget-frame caregiver-widget-frame">
  <app-caregiver-widget></app-caregiver-widget>
</div>

<!--Activities-->
<div class="activity-frame" *ngFor="let activity of activityhandler.getActivitiesToDisplay()">
  <div (click)="overlayhandler.showOverlay('activity', activity)" [hidden]="hideActivity(activity)">
    <!--Connecting Line-->
    <div class="connecting-line" [ngStyle]="{top: getTopLine(activity), 'background-color': getColorForActivityBorder(activity)}"></div>
    <!--Icon-->
    <img class="activity-icon" [src]="activityhandler.getActivityIcon(activity)" alt=""  [ngStyle]="{top: getTopIcon(activity), 'border-color': getColorForActivityBorder(activity)}" >
    <!--Time-->
    <div class="activity-time-frame" [ngStyle]="{top: getTopTime(activity)}">
      <p class="activity-time-text">{{getStartTimeRepresentation(activity.startTime.millis)}}
        <br>{{getEndTimeRepresentation(activity.endTime.millis - 1)}}</p>
    </div>
    <!--Title-->
    <div class="activity-title-frame" [ngStyle]="{top: getTopTitle(activity), 'border-color': getColorForActivityBorder(activity)}" >
      <!--TODO add weather icon and or persons visiting-->
      <p class="activity-title-text">{{activity.title}}</p>
    </div>
    <!--Preloading images of activities -> takes from cache later then-->
    <div>
      <img class="preload-image" [src]="activityhandler.getActivityImage(activity)" alt="" >
    </div>
  </div>
</div>

<div class="nothingplanned" [hidden]="hiddenEmpty()">
  <!--TODO use languagehandler for this-->
  Er is niets meer gepland vandaag
</div>
<!--Overlay with extra information-->
<app-overlay></app-overlay>

