body {
  background-color: black;
}

.vertical-line {
  height: 1079px;
  width: 8px;
  top: 0;
  background-color: #795548;
  margin-left: 300px;
}

.connecting-line {
  position: absolute;
  margin-left: 350px;
  height: 8px;
  width: 100px;
}

.widget-frame {
  position: absolute;
  height: 300px;
  width: 300px;
  right: 0;
  margin-right: 186px;
}

.clock-widget-frame {
  position: absolute;
  width: 600px;
  height: 200px;
  right: 0;
  top: 0;
  margin-top: 72px;
  margin-right: 36px;
}

.picture-widget-frame {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.caregiver-widget-frame {
  bottom: 0;
  margin-bottom: 36px;
}

.activity-time-frame {
  left: 11px;
  position: absolute;
  width: 220px;
  height: 112px;
  margin: 0;
  display: table;
}

.activity-time-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #757575;
}

.nothingplanned {
  width: 800px;
  height: 500px;
  position: absolute;
  left: 400px;
  top: 400px;
  font-weight: bold;
  font-size: 70px;
  color: #757575;
}

.activity-title-frame {
  left: 400px;
  position: absolute;
  width: 700px;
  height: 180px;
  margin: 0;
  display: table;
  background-color: white;
  border: 8px solid;
}

.activity-title-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  color: #757575;
}

.activity-icon {
  top: 0;
  left: 244px;
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: white;
  border: 8px solid;
}

.test-class {
  background-color: black;
  width: 500px;
  height: 500px;
}

.preload-image {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
}
