.picture-frame {
  height: 300px;
  width: 300px;
}

.white-background {
  background-color: white;
}

.shadow {
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.6);
}

.focus:focus, .focus:active {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.loader {
  position: absolute;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  top: 105px;
  left: 130px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.picture-image {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 250px;
  width: 300px;
}

.center-text-frame {
  position: relative;
  display: table;
  width: 300px;
  height: 50px;
}

.center-text-frame#picture-text-frame {
  position: absolute;
  bottom: 0;
}

.center-text-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.standard-text {
  font-weight: bold;
  font-size: 18px;
  color: #757575;
}
