<div class="picture-frame white-background focus" [ngStyle]="{display: (overlayhandler.overlayApp === 'pictures') ? 'none' : 'block'}">
  <div class="loader-frame">
    <div class="loader"></div>
  </div>
  <img class="picture-image" [src]="globals.hostName + layouthandler.layout.widgetbar.pictureWidget.pictures[layouthandler.getPictureIndex()].image" [alt]="" (click)="overlayhandler.showOverlay('pictures', null)">
  <div class="center-text-frame" id="picture-text-frame">
    <div class="center-text-cell standard-text">{{ layouthandler.layout.widgetbar.pictureWidget.pictures[layouthandler.getPictureIndex()].description }}</div>
  </div>
</div>
