#road {
  position: absolute;
  top: 0;
  left: 175px;
  height: 1079px;
  width: 900px;
  fill: #d6cdc7;
}

.focus:focus, .focus:active {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.current-time {
  position: absolute;
  transform-origin: center;
  transform: scale(0.3);
}

.clock-widget {
  position: absolute;
  width: 0;
  height: 0;
  top: -300px;
  right: 732px;
  margin: 0;
}

.notclickable {
  pointer-events: none;
}

.clickable {
  pointer-events: all;
}

.button-activity-path {
  z-index: 1;
  opacity: 0;
}


.picture-widget-frame {
  height: 300px;
  width: 300px;
  position: absolute;
  margin-right: 80px;
  margin-bottom: 44px;
  bottom: 0;
  right: 0;
}

.activity-frame {
  position: absolute;
  top: 0;
  width: 900px;
  height: 1079px;
  left: 175px;
  overflow: hidden;
}

.activity-svg {
  height: 100%;
  width: 100%;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
}

.activity-svg:focus, .activity-svg:active {
  fill: blue;
  filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
}

.activty-polygon {
  fill: white;
}

.activity-content-frame {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.clock-frame {
  height: 100%;
  width: 120px;
  position: absolute;
  left: 0;
  top: 0;
}

.text-frame {
  width: 400px;
  height: 100%;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}

.text-activity {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #757575;
  margin: 0;
}

.logo-frame {
  height: 100%;
  position: absolute;
  width: 120px;
  right: 0;
  top: 0;
}

.activity-icon {
  position: absolute;
  object-fit: contain;
  height: 120px;
  width: 120px;
}

.tree {
  position: absolute;
  width: 250px;
  height: auto;
}

.shadow-tree {
  position: absolute;
  width: 138px;
  height: auto;
}

.now-line {
  position: absolute;
  width: 1090px;
  height: 12px;
  bottom: 93px;
  left: 0;
  background-color: #795548;
  opacity: 0.8;
}

.now-square {
  position: absolute;
  left: 1090px;
  width: 110px;
  height: 110px;
  bottom: 39px;
  border: 6px solid #795548;
  display: table;
  background-color: white;
}

#NOW {
  font-size: 65px;
  text-align: center;
  font-weight: bold;
  color: #388e3c;
  display: table-cell;
  vertical-align: middle;
}

.activity-clock {
  background-color: yellow;
  position: absolute;
  width: 100px;
  height: 100px;
  left: -440px;
  bottom: 475px;
  margin: 0;
}

.calendar-widget {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  margin-right: 80px;
}

.activity-time {
  position: absolute;
  transform-origin: center;
  transform: scale(0.13);
}

.gradient-animation {
  background-color: white;
  background-image: linear-gradient(to right, rgba(121, 85, 72, 1) 25%, rgba(0, 0, 0, .1) 50%, rgba(121, 85, 72, 1) 75%);
  color: white;
  height: 100%;
  width: 15%;

  animation: 4s linear 0s infinite move_eye;
}

@keyframes move_eye { from { margin-left: -30%; } to { margin-left: 95%; }  }
