<div *ngIf="constants.walkLayout && constants.languageTerms && constants.activities.dayActivities">
  <!--Road-->
  <svg id="road">
    <polygon points="115,0 785,0 900,1080 0,1080"></polygon>
  </svg>

  <!--Tree shadows-->
  <div>
    <img class="shadow-tree" style="left: 80px; bottom: 172px" [src]="constants.hostName + constants.walkLayout.shadow">
    <img class="shadow-tree" style="bottom: 165px; left: 1047px" [src]="constants.hostName + constants.walkLayout.shadow">
    <img class="shadow-tree" style="left: 146px; top: 207px" [src]="constants.hostName + constants.walkLayout.shadow">
  </div>

  <!--Activities-->
  <div class="activity-frame notclickable" *ngFor="let activity of constants.getActivitiesToDisplay()">
    <svg class="activity-svg notclickable">
      <polygon class="activty-polygon clickable" [attr.points]="getActivityPolygon(activity)" (click)="constants.showOverlay('activity', activity)"></polygon>
    </svg>
    <div class="activity-content-frame notclickable" (click)="constants.showOverlay('activity', activity)" [ngStyle]="{width: getWidthActivity(activity), height: getHeightActivity(activity), bottom: getBottomActivity(activity)}">
      <div class="clock-frame notclickable"></div>
      <div class="text-frame notclickable">
        <p [id]="activity.uniqueID" class="text-activity notclickable" [ngStyle]="{bottom: getBottomText(activity)}">{{activity.title}}</p>
      </div>
      <div class="logo-frame notclickable">
        <div [ngStyle]="{display: activity.icon ? 'block' : 'none'}">
          <img class="activity-icon notclickable" [src]="constants.getActivityIcon(activity)" [ngStyle]="{bottom: getBottomIcon(activity)}">
        </div>
      </div>
      <div class="activity-clock">
        <app-time-widget class="activity-time notclickable" [layout]="constants.walkLayout" [millis]="activity.startDate"></app-time-widget>
      </div>
    </div>
  </div>

  <!--Trees-->
  <div>
    <img class="tree" style="left: 90px; bottom: 815px" [src]="constants.hostName + constants.walkLayout.tree">
    <img class="tree" style="bottom: 815px; left: 900px;" [src]="constants.hostName + constants.walkLayout.tree">
    <img class="tree" style="left: 7px; top: 121px;" [src]="constants.hostName + constants.walkLayout.tree">
    <img class="tree" style="left: 946px; top: 127px;" [src]="constants.hostName + constants.walkLayout.tree">
    <img class="tree" style="left: 24px; bottom: 172px;" [src]="constants.hostName + constants.walkLayout.tree">
    <img class="tree" style="left: 990px; bottom: 165px;" [src]="constants.hostName + constants.walkLayout.tree">
  </div>

  <!--Now line-->
  <div class="now-line shadow">
    <div class="gradient-animation"></div>
  </div>
  <div class="animated-glare" [ngStyle]="{left: leftGlare + 'px'}"></div>
  <div class="now-square shadow">
    <p id="NOW">{{constants.getTerm('now') | uppercase}}</p>
  </div>

  <!--Widgets-->
  <!--Current time widget-->
  <div class="clock-widget">
    <app-time-widget class="current-time" [layout]="constants.walkLayout"></app-time-widget>
  </div>

  <!--Calendar widget-->
  <div class="calendar-widget">
    <app-calendar-widget></app-calendar-widget>
  </div>

  <!--Picture widget-->
  <div class="picture-widget-frame">
    <app-pictures-widget></app-pictures-widget>
  </div>

  <!--Overlay-->
  <app-overlay></app-overlay>

</div>


