html, body {
  height: 100%;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.absolute {
  position: absolute;
}

.activity-visualisation {
  width: 1000px;
  height: 1000px;
}

.absolute-0 {
  position: absolute;
  margin: 0;
}

.activities, #fading-past {
  z-index: -1;
}

#clock-center {
  z-index: auto;
}

#time, #clock-layout {
  z-index: 1;
}

#time {
  stroke:rgb(255,0,0);
  stroke-width:10;
  z-index: 1;
  opacity: 0.4;
}

.planned, .suggested {
  stroke: #795548;
  stroke-width: 1px;
}

.planned {
  fill: #c8e6c9;
}

.suggested {
  fill: rgb(233, 223, 219);
}

.activity-text {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  font-size: 23px;
  color: #757575;
  overflow-wrap: break-word;
  hyphens: auto;
}

.focus:focus, .focus:active {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.hide-on-focus:focus, .hide-on-focus:active {
  display: none;
}

.focus-image:focus, .focus-image:active {
  opacity: 0.6;
  filter: grayscale(30%);
}

.focus-path:focus, .focus-path:active {
  opacity: 0.05;
  /*filter: grayscale(30%);*/
}

.button-activity-path {
  z-index: 1;
  opacity: 0;
}


.activity-icon {
  position: absolute;
  transform:translate(-50%,-50%);
}

.margin44 {
  margin: 44px;
}

.shadow {
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.6);
}

.white-background {
  background-color: white;
}

.weather {
  position: absolute;
  top: 0;
  left: 0;
}

.date-text-frame {
  display: table;
  position: absolute;
  top: 89px;
  width: 300px;
  height: 208px;
}

.center-text-frame {
  position: relative;
  display: table;
  width: 300px;
  height: 50px;
}

.standard-text {
  font-weight: bold;
  font-size: 18px;
  color: #757575;
}

.picture-widget-frame {
  height: 300px;
  width: 300px;
  position: absolute;
  margin-left: 44px;
  margin-bottom: 44px;
  bottom: 0;
  left: 0;
}

.center-text-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.z1 {
  z-index: 1;
}

.drop-shadow-image {
  filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.6));
}

.drop-shadow-image:focus, .drop-shadow-image:active {
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.1));
}

#square-div {
  position: absolute;
  display: table;
}

.notclickable {
  pointer-events: none;
}

.clickable {
  pointer-events: all;
}

.calendar-widget-frame {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 36px;
}
