<div *ngIf="constants.daySchedule && constants.hostName && constants.clockLayout && constants.activities">
  <div class="activity-visualisation center" *ngIf="clockWidthHeight">
    <!--Activities-->
    <div class="activities absolute-0">
      <div class="activity absolute-0" *ngFor="let activity of constants.getActivitiesToDisplay()">
        <svg class="absolute" height="1000" width="1000">
          <path [ngClass]="activity.activityKind | lowercase" [attr.d]="getCircleSlice(activity)" (click)="constants.showOverlay('activity', activity)"></path>
          <!--<text class="activity-text" text-anchor="middle" [attr.x]="getTextX(activity)" [attr.y]="getTextY(activity)">{{ activity.title }}</text>-->
        </svg>
        <div id="square-div" [ngStyle]="getTextSquareCircleMethod(activity)">
          <p class="activity-text">{{getActivityTitle(activity)}}</p>
        </div>
        <div [ngStyle]="{display: activity.icon ? 'block' : 'none'}">
          <img class="activity-icon" [src]="constants.getActivityIcon(activity)" [style.left.px]="getIconX(activity)" [style.top.px]="getIconY(activity)" width="60px">
        </div>
      </div>
    </div>

    <!--Clock-->
    <div style="pointer-events: none;">
      <svg class="absolute-0" height="1000" width="1000"></svg>
      <img class="absolute-0" id="clock-layout" [src]="constants.hostName + constants.clockLayout.clockImage" alt="" height="1000px" width="1000px">
      <svg class="absolute-0" height="1000" width="1000">
        <defs>
          <linearGradient id="grad2" [attr.x1]="getFadeX1()" [attr.y1]="getFadeY1()" [attr.x2]="getFadeX2()" [attr.y2]="getFadeY2()">
            <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0" />
            <stop offset="50%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
          </linearGradient>
        </defs>
        <path id="fading-past" [attr.d]="getPastSlice()" fill="url(#grad2)"></path>
        <line id="time" [attr.x1]="clockWidthHeight / 2" [attr.y1]="clockWidthHeight / 2" [attr.x2]="getTimeX()" [attr.y2]="getTimeY()"></line>
      </svg>
      <img class="center" id="clock-center" [src]="constants.hostName + constants.clockLayout.clockCenter" alt="" height="44px" width="44px">
    </div>
  </div>

  <!--Volunteers-->
  <div>
    <app-volunteer-widget [nrOfVolunteers]="3"></app-volunteer-widget>
  </div>

  <!--Weather-->
  <div class="weather margin44">
    <app-weather-widget></app-weather-widget>
  </div>

  <!--Picture widget-->
  <div class="picture-widget-frame">
    <app-pictures-widget></app-pictures-widget>
  </div>

  <!--Calendar widget-->
  <div class="calendar-widget-frame">
    <app-calendar-widget></app-calendar-widget>
  </div>

  <!--Overlay with extra information-->
  <app-overlay></app-overlay>

  <!--Click on activity possibility-->
  <div class="activity-visualisation center notclickable" *ngIf="constants.clockLayout && clockWidthHeight">
    <div class="activity absolute-0 notclickable" *ngFor="let activity of constants.getActivitiesToDisplay()">
      <svg class="absolute notclickable" height="1000" width="1000">
        <path class="absolute focus-path button-activity-path clickable" [attr.d]="getCircleSlice(activity)" (click)="constants.showOverlay('activity', activity)"></path>
      </svg>
    </div>
  </div>

</div>
