<div class="app-layout" *ngIf="layouthandler.layout && languagehandler.languageTerms && layouthandler.pictureIndexList" [ngSwitch]="layouthandler.layout.layoutName">
  <app-walk *ngSwitchCase="'walk'"></app-walk>
  <!--<app-walk *ngSwitchCase="'walk'"></app-walk>-->
  <app-clock *ngSwitchCase="'clock'"></app-clock>
  <app-vertical *ngSwitchCase="'vertical'"></app-vertical>
</div>
