.volunteer-frame {
  margin: 44px 44px 41px auto;
  height: 300px;
  width: 300px;
  border: 1px solid #795548;
}

.white-background {
  background-color: white;
}

.volunteer-image {
  object-fit: cover;
  height: 250px;
  width: 300px;
}

.volunteer-text {
  font-weight: bold;
  font-size: 18px;
  color: #757575;
}

.center-text-frame {
  position: relative;
  display: table;
  width: 300px;
  height: 50px;
}

.center-text-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.standard-text {
  font-weight: bold;
  font-size: 18px;
  color: #757575;
}
