<div *ngFor="let volunteer of constants.daySchedule.widgetbar.volunteers.volunteers.slice(0, nrOfVolunteers)">
  <div class="volunteer-frame white-background">
    <div class="volunteer-image" >
      <img  class="volunteer-image" [src]="constants.hostName + volunteer.picture" [alt]="volunteer.firstName + ' ' + volunteer.lastName">
    </div>
    <div class="center-text-frame">
      <div class="center-text-cell standard-text">{{ volunteer.description }}</div>
    </div>
  </div>
</div>
