<div>
  <img  class="weather-image" [src]="constants.hostName + constants.daySchedule.widgetbar.weatherWidget.icon" [alt]="">
  <div class="center-text-frame">
    <div class="center-text-cell standard-text">{{constants.daySchedule.widgetbar.weatherWidget.description}}</div>
  </div>
</div>
