.weather-image {
  height: auto;
  width: 300px;
  margin-bottom: 10px;
}

.center-text-frame {
  position: relative;
  display: table;
  width: 300px;
  height: 50px;
}

.center-text-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.standard-text {
  font-weight: bold;
  font-size: 18px;
  color: #757575;
}
