.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#fading-background {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.overlay-image {
  z-index: 1;
  height: 1020px;
  width: auto;
}

.overlay-frame {
  z-index: 1;
  width: 1402px;
  height: 978px;
  border: 24px solid #795548;
  background-color: white;
}

.overlay-content {
  position: absolute;
  width: 1402px;
  height: 980px;
  top: 51px;
  left: 259px;
  z-index: 1;
}

.arrow-overlay {
  height: 90px;
  width: auto;
  margin-right: 10px;
}

.back-overlay {
  height: 90px;
  width: 400px;
  z-index: 1;
  left: 200px;
  bottom: 0px;
  display: table;
}

.drop-shadow-image {
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6));
}

.drop-shadow-image:focus, .drop-shadow-image:active {
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,0));
}

.absolute-0 {
  position: absolute;
  margin: 0;
}

.back-text {
  font-weight: bold;
  font-size: 65px;
  color: #f2bf18;
  margin-left: 125px;
  top: 3px;
  position: absolute;
}
