<div class="overlay" [ngStyle]="{display: overlayhandler.overlayDisplay}">
  <div class="center" id="fading-background" (click)="hideOverlayNextTo()"></div>
  <div class="overlay-frame center"></div>
  <div class="overlay-content" [ngSwitch]="overlayhandler.overlayApp">
    <app-calendar-overlay *ngSwitchCase="'calendar'"></app-calendar-overlay>
    <app-pictures-overlay *ngSwitchCase="'pictures'"></app-pictures-overlay>
    <app-activity-overlay *ngSwitchCase="'activity'" [activity]="activityhandler.clickedActivity"></app-activity-overlay>
  </div>
  <div class="back-overlay absolute-0 drop-shadow-image" (click)="hideOverlayBack()">
    <img class="arrow-overlay" [src]="globals.hostName + layouthandler.getLayoutElement('backArrow')" [alt]="">
    <div class="back-text">{{languagehandler.getTerm('back')}}</div>
  </div>
</div>
