/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f5;
  font-family: "montserrat";
  margin: 0;
}

.loading-screen {
  width: 100%;
  height: 100%;
  background-color: #588107;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-loading-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100px;
  margin: auto;
  width: 400px;
  height: auto;
}
