.picture-wrapper {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}

.loader {
  position: absolute;
  border: 18px solid #f3f3f3; /* Light grey */
  border-top: 18px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay-picture-image {
  object-fit: cover;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay-picture-text-frame {
  display: table;
  width: 50%;
  height: 10%;
  top: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.6);
  background-color: white;
  z-index: 1;
}

.overlay-picture-text {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  font-size: 35px;
  color: #757575;
  overflow-wrap: break-word;
  hyphens: auto;
}

.arrow {
  width: 90px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

.next-arrow {
  right: -75px;
}
.prev-arrow {
  left: -75px;
  transform: rotate(180deg);
}

.drop-shadow-image {
  filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.6));
}

.drop-shadow-image:focus, .drop-shadow-image:active {
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.1));
}
