<div class="picture-wrapper" [ngStyle]="{display: overlayhandler.toDisplay('pictures')}">
  <div class="loader-frame">
    <div class="loader"></div>
  </div>
  <img class="overlay-picture-image" [src]="globals.hostName + layouthandler.layout.widgetbar.pictureWidget.pictures[layouthandler.getPictureIndex()].image" [alt]="">
  <div class="overlay-picture-text-frame">
    <p class="overlay-picture-text">{{ layouthandler.layout.widgetbar.pictureWidget.pictures[layouthandler.getPictureIndex()].description }}</p>
  </div>
  <img class="arrow next-arrow drop-shadow-image" [src]="globals.hostName + layouthandler.getLayoutElement('arrow')" (click)="layouthandler.getNextPicture()">
  <img class="arrow prev-arrow drop-shadow-image" [src]="globals.hostName + layouthandler.getLayoutElement('arrow')" (click)="layouthandler.getPreviousPicture()">
</div>
